# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment configuration files
.env

# Ignore service account and secret files
service_account_key.json
client_secrets.json

# Ignore logs and temporary files
*.log
tmp/
service_account_key.json
client_secrets.json


